/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page__box-size {
  min-inline-size: var(--inline-size-content);
  max-inline-size: var(--inline-size-content);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 103px;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-wght);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
  font-family: var(--accent-font), sans-serif, fantasy;
  text-transform: uppercase;
  min-block-size: clamp(20.4375rem, 17.4808rem + 12.6154vw, 23rem);
}

.border {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.header {
  margin-block-end: 100px;
}

.header__logo {
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  line-height: 1em;
}

.header__title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  line-height: 1em;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-inline-start: 14px;
}

.theme-menu__item {
  display: inline-flex;
}

.theme-menu__button {
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  max-block-size: 14px;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  display: block;
  border-bottom: 2px solid var(--accent-color);
  opacity: 0.6;
  transition: transform 0.3s ease;
  transform: scaleX(0);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transform-origin: 0;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}
  
.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: 0;
  left: -20px;
  color: var(--accent-color);
  animation: pointer-shift 0.5s ease-in-out alternate infinite;
  inline-size: 16px;
  block-size: 13px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.content__items {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: 'wght' var(--main-font-title-wght);
}

.card__box-img {
  position: relative;
  border-right: none;
  border-left: none;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__img_brightness {
  filter: brightness(150%);
}

.card__img_grayscale {
  animation: grayscale 2s ease-in-out alternate infinite;
}

.card__img_hue-rotate {
  animation: hue-rotate 3s linear infinite;
}

.card__img_sepia {
  filter: sepia(50%);
}

.card__img_contrast {
  filter: contrast(50%);
}

.card__img_blure {
  filter: blur(2px);
}

.card__img_filter {
  filter: brightness(1) opacity(0.5) sepia(0.2) hue-rotate(180deg);
}

.card__img-label {
  position: absolute;
  top: 27px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif, fantasy;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 0 2px var(--img-label-shadow);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--img-label-shadow)) or (text-stroke: 1px var(--img-label-shadow)) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--img-label-shadow);
    text-stroke: 1px var(--img-label-shadow);
  }
}

.card__box-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}

.card__text:not(:last-child) {
  margin-block-end: 27px;
}

.card__box-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.like-icon {
  display: block;
  overflow: visible;
  inline-size: 39px;
  block-size: 35px;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button {
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--accent-color);
  outline: none;
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: 0;
}

.button:hover::after {
  transform: scaleX(1);
  transform-origin: 0;
}

.button__text {
  position: relative;
  z-index: 1;
  display: block;
  color: var(--button-color);
  font-family: var(--accent-font), sans-serif, fantasy;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.content__button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
}

.button__icon {
  position: relative;
  z-index: 1;
  fill: var(--button-color);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.dialog {
  padding: 30px;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif, fantasy;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  inline-size: 352px;
  max-inline-size: calc(100% - 34px);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog[open] .dialog__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog[open] .dialog__body-info {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 12px;
}

.dialog__icon {
  fill: var(--accent-color);
  inline-size: 39px;
  block-size: 39px;
}

.dialog__body-text {
  line-height: 150%;
}

.dialog__body-button {
  text-transform: uppercase;
  inline-size: 100%;
  block-size: 38px;
}
  
@media (width <= 375px) {
  .page {
    padding: 102px 0 100px;
  }

  .page__box-size {
    inline-size: 100vw;
  }

  .header {
    padding: 25px 14px;
  }

  .content__button {
    flex-direction: column;
  }
    
  .button__icon {
    inline-size: 28px;
    block-size: 28px;
  }
}